:root {
  --backgroundColorPrimary: #43a9e0;
  --backgroundColorSeconday: #496cca;
  --textColor: #3ef9d6;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: rgb(36, 23, 83);
  font-family: Helvetica;
  width: 70%;
}

.classicButton {
  width: 33%;
  margin: 5% 67%;
  padding: 2.5% 0;
  border: none;
  border-radius: 20px 20px;
  box-shadow: 0px 0.5vh 15px #285479;
  cursor: pointer;
}

.classicButton:hover {
  color: white;
  background-color: var(--backgroundColorPrimary);
  transition: 0.2s ease-in-out;
}

.classicButton:active:focus {
  padding: 1% 0;
  width: 30%;
  transition: 0.15s ease-in-out;
}

@media (max-width: 1500px) {
  body {
    margin: 0;
    width: 100%;
  }
}
