.recordContainer {
  background-color: var(--backgroundColorSeconday);
  margin: 0;
  padding: 2%;
}
.recordContainer > h1,
.recordContainer > h3,
.recordContainer > p {
  margin: 0;
  color: white;
}
.recordText {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  max-width: 30%;
}

#backToHomeRecord {
  width: 10%;
  padding: 10px;
  margin: 0px 2px 2% 0px;
}
