nav {
  background-color: rgba(20, 20, 20, 0.589);
  /*   border-radius: 30px 30px;
  margin: 10px 15%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}
.navigationRight {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.navigationLeft {
  display: flex;
  justify-content: flex-start;
}
a.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
/* .fullRight {
  border-radius: 0px 30px 30px 0px;
} */
a.navLink:hover {
  background-color: rgb(29, 29, 29);
  transition: 0.2s ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid greenyellow;
}
